<span style="display:block; position: absolute; left: 0; top: 0">
    <a class="navbar-brand" href="#">My App</a>
</span>

<nav class="navbar navbar-toggleable-sm navbar-inverse bg-inverse navbar-top">
  <button class="navbar-toggler" type="button" (click)="isNavbarCollapsed = !isNavbarCollapsed">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- <a class="navbar-brand" href="#">My App</a> -->

  <div [ngbCollapse]="isNavbarCollapsed" class="collapse navbar-collapse">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="#">Home</a>
      <a class="nav-item nav-link" href="#">Features</a>
      <a class="nav-item nav-link" href="#">Pricing</a>
      <a class="nav-item nav-link disabled" href="#">Disabled</a>
    </div>
  </div>
</nav>