<article class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <h1>Dashboard</h1>

        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent sed pharetra risus. Vestibulum libero lectus, cursus sed
          ex molestie, molestie rutrum lacus. Cras lacus lectus, molestie nec orci a, viverra bibendum diam. Etiam velit
          erat, porta id aliquet vitae, tristique eu odio. Nunc vitae venenatis lacus. Duis nec bibendum urna. Curabitur
          erat enim, pretium vitae interdum vel, consequat ac dolor. Nulla facilisi. Nam vitae nulla pellentesque, pulvinar
          nisl a, consequat tellus. Integer ut diam vel lorem egestas vestibulum. Nam euismod mollis nisi, sit amet pretium
        </p>
      </div>
    </div>
  </div>
</article>